@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')

// VARIÁVEIS
$titulo: "Nunito", sans-serif

$claro-borda: #399ced

*
    margin: 0
    padding: 0
    box-sizing: border-box

h1 
    font-family: $titulo