@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')

// VARIÁVEIS
$titulo: "Nunito", sans-serif

$branco: white
$bg-meio: #364478
$bg-escuro: #1b1d38

// Textos
$claro: #399ced
$escuro: #cef5f4

*
    margin: 0
    padding: 0
    box-sizing: border-box

h1 
    font-family: $titulo

#selecionar-tema
    border: 2px solid red
    display: flex
    justify-content: space-between
    width: 100%

    button
        border: 4px solid
        border-radius: 10px
        padding: 15px
        font-size: 2em

    #claro
        border-color: $claro
        color: $claro
        background-color: $branco

    #meio-escuro
        border-color: $escuro
        color: $escuro
        background-color: $bg-meio

    #escuro
        border-color: $branco
        color: $branco
        background-color: $bg-escuro